

.image-grid img {
    display: block;
    width: 100%;
}

.rowfooter{
    height: 100px;
}

.information {
    padding-top: 180px;
    margin:100px;
    text-align: center;
}

.ginmenu{
    display: block;
    width: 100%;
}

.header{
    padding-top:10px; 
}

.huurons{
    padding: 140px;
    text-align:center;
}

.barman{
    width:100%
}

